.App {
	text-align: center;
}

.App .main {
	background-color: #aaf;
	overflow: hidden;
	position: relative;
}

.App .image-swiper {
	display: flex;
	overflow-x: visible;
	transition-property: transform;
	will-change: transform;
}

.App img {
	object-fit: contain;
}
